.header_container
{
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: white;
}

.header
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin: auto;

    nav{
        display: flex;
        align-items: center;
        button{
            background: none;
            outline: none;
            border: none;
            margin: 0 1rem;
            font-size: 1.1rem;
            padding: .3rem 0;
            cursor: pointer;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 1px;
                background: black;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .3s;
            }
            &:hover
            {
                &::before
                {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
        .user_btn{
            height: 25px;
            width: 25px;
            padding: .2rem;
            background: rgb(142, 142, 142);
            color: white;
            border-radius: 50%;
            margin: 0 .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
            cursor: pointer;
            text-transform: capitalize;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.logo
{
    height: 40px;
    width: 40px;
    background: rgb(29, 29, 29);
    border-radius: 6px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-weight: 500;
        font-size: 25px;
    }
}