
.header
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo
    {
        display: flex;
        align-items: center;
        cursor: pointer;
        p:first-of-type
        {
            background: rgb(29, 29, 29);;
            width: 40px;
            height: 40px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            font-weight: 700;
            border-radius: 5px;
            margin: 0 .3rem;
            transform: translateX(100%);
            animation: ba 1s 1s forwards;
            @keyframes ba {
                from{
                    transform: translateX(100%);
                }to{
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
        p:last-of-type
        {
            font-weight: 500;
            font-size: 1.2rem;
            opacity: 0;
            transform: translateX(-50%);
            animation: udgetAnim .5s 2s forwards;
            @keyframes udgetAnim {
                from{
                    opacity: 0;
                    transform: translateX(-50%);
                }to{
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
    }
}

.content__container
{
    width: 100%;
    margin: auto;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content
{
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    display: flex;

    &__right
    {
        width: 50%;
        padding: 7%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #EBF5FF;
        border-radius:  0 10px 10px 0;

        &__top
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            max-width: 350px;
            width: 100%;
            h2{
                font-weight: 900;
                color: #202d4a;
            }
            button{
                border: none;
                background: none;
                outline: none;
                color: #3399FF;
                padding: 0;
                height: 1.1rem;
                border-bottom: 1px solid transparent;
                cursor: pointer;
                &:hover
                {
                    border-bottom: 1px solid #3399FF;
                }
            }
        }

        .errorMesg
        {
            display: block;
            background: #FCEBEC;
            padding: 1rem;
            border-radius: 6px;
            color: #f9000b;
            font-weight: 600;
            font-size: .9rem;
        }
        .successMesg
        {
            padding: 1.1rem;
            border-radius: 6px;   
            font-weight: 600;
            font-size: .9rem;
            display: block;
            background: #28a745;
            color: white;
            opacity: 0.6;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>p{
            margin: 1rem 0;
            color: rgb(109, 109, 109);
            font-size: .9rem;
            line-height: 1.3rem;
            text-align: center;
        }

        &>span{
            display: block;
            text-align: center;
            margin: 1rem 0;
            color: rgb(109, 109, 109);
        }

        form{
            height: 320px;
            
            .input_field{
                height: 80px;
                border-radius: 10px;
                margin: 1rem 0;
                background: #F2F6FA;
                padding: 1.1rem 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                input{
                    left: 0;
                    border:none;
                    outline: none;
                    width: 100%;
                    background: transparent;
                    &::placeholder 
                    {
                        color: #92a3b7;
                    }
                }
                label{
                    font-weight: 600;
                    font-size: .8rem;
                }
            }
            section
            {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #3399FF;
                border-radius: 8px;
                height: 55px;
                input,input::selection{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: none;
                    border: none;
                    outline: none;
                    font-size: 1rem;
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover
                    {
                        background: #5CADFF;
                    }
                }
            }
        }
    }
    &__left
    {
        width: 50%;
        height: 550px;
        background: #EBF5FF;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-top: 8rem;
        border-radius:  10px 0px 0 10px;
        h2{
            color: #202d4a;
            font-weight: 800;
        }
        p{
            text-align: center;
            margin: 2rem 0;
            width: 70%;
            color: #6c92a6;
        }
        button{
            background: white;
            border: none;
            outline: none;
            border: none;
            width: 70%;
            padding: 1rem;
            border-radius: 10px;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    @media screen and(max-width:850px) {
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
        border: none;    
        width: 100%;
        &__right
        {
            width: 100%;
            max-width: 350px;
            padding: 8% 0 10% 0;
            border: none;
        }
        &__left
        {
            width: 100%;
            border-radius:0px;
            p,button{
                max-width: 350px;
            }
        }
    }
}

.cards_container
{
    height: 100%;
    width: 90%;
    position: relative;
    img{
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 204px;
        object-fit: contain;
    }
}