$green:#52CC7A;
$red:#FF2D36;

.button{
    padding: 1.3rem 3rem;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;
    background: #ff470d;
    border-radius: 5px;
    cursor: pointer;
    &:hover
    {
        background: #F77046;
        text-decoration: underline;
    }
}

.hero
{
    width: 75%;
    max-width: 1000px;
    margin: 150px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
        width: 45%;
        h1{
            font-size: clamp(1.5em,3vw,2.3rem);
        }
        p{
            margin: 3rem 0;
            line-height: 1.7rem;
            //font-size: clamp(.8em,1.2vw,1rem);
            font-size: 1rem;
            padding-right: 2rem;
        }
    }
    &__right
    {
        width: 450px;
        height: 400px;
    }

    @media screen and(max-width:950px) {
        flex-direction: column;
        &__left{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            p,h1{
                text-align: center;
            }
            p{
                padding-right: 0;
            }
        }
        &__right
        {
            margin-top: 2rem;
        }
    }
    @media screen and(max-width:540px) {
        width: 90%;
        &__right
        {
            width: 100%;
        }
    }
}

.illustration
{
    width: 460px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background: #F0EEEB;
    height: 400px;
    overflow: hidden;
    position: relative;

    @media screen and(max-width:550px) {
        width: 100%;
    }

    .card{
        width: 40%;
        min-width: 150px;
        padding: 1.2rem;
        border-radius: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 10px 25px darkgray;
        .card_sim{
            height: 30px;   
            min-height: 30px;   
            max-height: 30px;   
            min-width: 30px;
            width: 30px;
            max-width: 30px;
            @media screen and(max-width:500px) {
                width: 24px;
                max-width: 24px;
                height: 24px;
                max-height: 24px;
            }
            border-radius: 5px;
        }
        .card_title
        {
            height: 25%;
            min-height: 10px;
            width: 100%;
            border-radius: 2px;
            margin-top: 10%;
        }
        .card_name
        {
            height: 25%;
            min-height: 10px;
            width: 100%;
            display: flex;
            margin-top: 10px;
            justify-content: space-between;
            span{
                display: block;
                width: 45%;
                height: 100%;
                min-height: 10px;
                border-radius: 2px;
            }
        }
    }
    #card1
    {
        top: 60px;
        left: 50%;
        transform: translate(-50%,0);
        background:#9146FF;
        border: 1px solid #6D34BF;
        .card_sim,.card_title
        {
            background: #6D34BF;
        }
        .card_name
        {
            span
            {
                background: #6D34BF;
            }
        }

        transform: translate(-50%,150px) scale(0) rotate(15deg);
        animation: card1-appear 7s 1s forwards infinite , card1-disapear 7s 1s infinite;

        @keyframes card1-appear 
        {
            0%{
                transform: translate(-50%,150px) scale(0) rotate(15deg);
            }   
            10%{
                transform: translate(-50%,0) scale(1) rotate(0deg);
            } 
            100%{
                transform: translate(-50%,0) scale(1) rotate(0deg);
            }
        }         
        
        @keyframes card1-disapear {
            0%{
                opacity: 1;
            }
            70%{
                opacity: 1;
            }
            90%{
                opacity: 0;
            }
            100%{
                opacity: 0;
            }
        }
    }
    #card2{
        top: 50%;
        left:-35px;
        background: #FF6855;
        border: 1px solid #BF4E40;
        .card_sim,.card_title
        {
            background:#BF4E40;
        }
        .card_name
        {
            span
            {
                background:#BF4E40;
            }
        }
        transform: translate(170px,0) scale(0) rotate(15deg);
        animation: card2-appear 7s 1.7s forwards infinite , card2-disapear 7s 1.7s infinite;

        @keyframes card2-appear 
        {
            0%{
                transform: translate(170px,0) scale(0) rotate(15deg);
            }   
            10%{
                transform: translate(0%,0) scale(1) rotate(0deg);
            } 
            100%{
                transform: translate(0%,0) scale(1) rotate(0deg);
            }
        }

        @keyframes card2-disapear {
            0%{
                opacity: 1;
            }
            55%{
                opacity: 1;
            }
            80%{
                opacity: 0;
            }
            100%{
                opacity: 0;
            }
        }
    }
    #card3{
        top: 50%;
        right:-35px;
        background: #FE9F6A;
        border: 1px solid #BE774F;
        .card_sim,.card_title
        {
            background:#BE774F;
        }
        .card_name
        {
            span
            {
                background:#BE774F;
            }
        }

        transform: translate(-170px,0) scale(0) rotate(-15deg);
        animation: card3-appear 7s 2.4s forwards infinite , card3-disapear 7s 2.4s infinite;

        @keyframes card3-appear 
        {
            0%{
                transform: translate(-170px,0) scale(0) rotate(-15deg);
            }   
            10%{
                transform: translate(0%,0) scale(1) rotate(0deg);
            } 
            100%{
                transform: translate(0%,0) scale(1) rotate(0deg);
            }
        }

        @keyframes card3-disapear {
            0%{
                opacity: 1;
            }
            47%{
                opacity: 1;
            }
            70%{
                opacity: 0;
            }
            100%{
                opacity: 0;
            }
        }
    }

    &__logo
    {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        top: 240px;
        box-shadow: 0px 3px 10px darkgray;
        animation: logo_moves 7s 1s forwards infinite;

        @keyframes logo_moves 
        {
            0%{
                transform: translate(-50%,0);
            } 
            5%{
                transform: translate(-50%,-10px);
            }
            10%{
                transform: translate(-50%,0);
            }
            15%{
                transform: translate(-70%,0);
            }
            20%{
                transform: translate(-50%,0);
            }
            25%{
                transform: translate(-30%,0);
            }   
            30%{
                transform: translate(-50%,0);
            }
            100%{
                transform: translate(-50%,0);
            }

        }
    }
}

.details
{
    width: 80%;
    margin: 7rem auto;    
    max-width: 1000px;

    @media screen and(max-width:400px)
    {
        width: 90%;
    }

    &__top
    {   
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and(max-width:950px) {
            flex-direction: column;
            h2{
                text-align: center;
            }
            button{
                margin-top: 3rem;
            }
        }
    }
    &__content
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @media screen and(max-width:950px) {
            grid-template-columns: 1fr;
            max-width: 500px;
            margin: 3rem auto;
        }
        grid-gap: 50px;
        margin-top: 3rem;
        &>div{
            background: #F0EEEB;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 0;
            border-radius: 20px;
            &>img{
                margin-top: 2rem;
                padding: 0rem 2rem;
                width: 100%;
                object-fit: contain;
            }
            section{
                &>h3{
                    margin: 1rem 0;
                    padding: 0rem 2rem;
                    text-align: center;                
                }
                &>p{
                    margin: 1rem 0;
                    padding: 0rem 2rem;
                    line-height: 1.7rem;
                    text-align: center;;
                    color: rgb(108, 108, 108);
                }
            }
            
        }
    }    


    .spend_limit
    {
        padding: 2rem 2rem 4rem 2rem;    

        .expenses_wrapper
        {
            height: 50px;
            position: relative;
            .expense
            {
                height: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
                min-width: 220px;
                background: white;
                margin: auto;
                border-radius: 15px;
                box-shadow: 0 0 10px rgba(72, 72, 72, 0.124);
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                padding: 0 1rem;
                &__left
                {
                    display: flex;
                    img{
                        height: 20px;
                    }
                    align-items: center;
                    div{
                        display: flex;
                        align-items: center;
                        position: relative;
                        span{
                            display: block;
                            position: absolute;
                            margin-left: 12px;
                            font-weight: 600;
                            transform: translateY(-200%);
                            color: white;
                        }
                    }
                    p{
                        margin-left: .7rem;
                        font-size: .9rem;
                        color: rgb(118, 118, 118);
                    }
                }        
                &>P{
                    margin-left: .7rem;
                    font-size: .8rem;
                    color: rgb(83, 83, 83);
                }
            }
            #apple
            {
                opacity: 1;
                animation: apple 20s infinite;
                @keyframes apple {
                    0%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: white;
                    }2%{
                        opacity: 1;
                        background-color: white;
                        transform: translateX(-50%) scale(1);
                    }8%{
                        opacity: 1;
                        background-color: white;
                        transform: translateX(-50%) scale(1);
                    }
                    10%{
                        opacity: 1;
                        background-color: $green;
                        transform: translateX(-50%) scale(1);
                    }
                    25%{
                        opacity: 1;
                        background-color: $green;
                        transform: translateX(-50%) scale(1);
                    }27%{
                        opacity: 0;
                        background-color: $green;
                        transform: translateX(-50%) scale(0.7);
                    }
                    100%{
                        opacity: 0;
                        background-color: $green;
                        transform: translateX(-50%) scale(0.7) ;
                    }
                }

                div{
                    p{
                        animation: AppleDivP 20s infinite;
                        @keyframes AppleDivP {
                            0%{
                                transform: translateY(0);
                            }8%{
                                transform: translateY(0);
                            }
                            10%{
                                transform: translateY(200%);
                            }100%{
                                transform: translateY(200%);
                            }
                        }
                    }
                    span{
                        animation: AppleDivSpan 20s infinite;
                        @keyframes AppleDivSpan {
                            0%{
                                transform: translateY(-200%);
                            }8%{
                                transform: translateY(-200%);
                            }
                            10%{
                                transform: translateY(0%);
                            }100%{
                                transform: translateY(0%);
                            }
                        }
                    }
                }
            }
            #netflix
            {
                opacity: 1;
                animation: netflix 20s infinite;
                @keyframes netflix {
                    0%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: white;
                    }31%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: white;
                    }33%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: white;
                    }38%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: white;
                    }40%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: $green;
                    }55%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: $green;
                    }
                    57%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: $green;
                    }
                    100%{
                        opacity: 0;
                        background-color: $green;
                        transform: translateX(-50%) scale(0.7) ;
                    }
                }

                div{
                    p{
                        animation: netflixeDivP 20s infinite;
                        @keyframes netflixeDivP {
                            0%{
                                transform: translateY(0);
                            }38%{
                                transform: translateY(0);
                            }
                            40%{
                                transform: translateY(200%);
                            }100%{
                                transform: translateY(200%);
                            }
                        }
                    }
                    span{
                        animation: netflixDivSpan 20s infinite;
                        @keyframes netflixDivSpan {
                            0%{
                                transform: translateY(-200%);
                            }38%{
                                transform: translateY(-200%);
                            }
                            40%{
                                transform: translateY(0%);
                            }100%{
                                transform: translateY(0%);
                            }
                        }
                    }
                }
            }
            #starbucks
            {
                opacity: 1;
                animation: starbucks 20s infinite;
                @keyframes starbucks {
                    0%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: white;
                    }
                    61%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: white;
                    }
                    63%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: white;
                    }
                    69%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: white;
                    }71%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: $red;
                    }71.5%{
                        opacity: 1;
                        transform: translateX(-52%) scale(1);
                        background-color: $red;
                    }72%{
                        opacity: 1;
                        transform: translateX(-48%) scale(1);
                        background-color: $red;
                    }72.5%{
                        opacity: 1;
                        transform: translateX(-52%) scale(1);
                        background-color: $red;
                    }73%{
                        opacity: 1;
                        transform: translateX(-48%) scale(1);
                        background-color: $red;
                    }73.5%{
                        opacity: 1;
                        transform: translateX(-52%) scale(1);
                        background-color: $red;
                    }74%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: $red;
                    }
                    86%{
                        opacity: 1;
                        transform: translateX(-50%) scale(1);
                        background-color: $red;
                    }
                    88%{
                        opacity: 0;
                        transform: translateX(-50%) scale(0.7);
                        background-color: $red;
                    }
                    100%{
                        opacity: 0;
                        background-color: $green;
                        transform: translateX(-50%) scale(0.7) ;
                    }
                }

                div{
                    p{
                        animation: starbucksDivP 20s infinite;
                        @keyframes starbucksDivP {
                            0%{
                                transform: translateY(0);
                            }69%{
                                transform: translateY(0);
                            }
                            71%{
                                transform: translateY(200%);
                            }100%{
                                transform: translateY(200%);
                            }
                        }
                    }
                    span{
                        animation: starbucksDivSpan 20s infinite;
                        @keyframes starbucksDivSpan {
                            0%{
                                transform: translateY(-200%);
                            }69%{
                                transform: translateY(-200%);
                            }
                            71%{
                                transform: translateY(0%);
                            }100%{
                                transform: translateY(0%);
                            }
                        }
                    }
                }
            }



        }

        .card{
            background: white;            
            width: 60%;
            min-width: 220px;
            margin: 1rem auto 0 auto;            
            border-radius: 4%;
            padding: 1rem;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.294);
            h5{
                color: rgb(81, 81, 81);
                font-weight: 300;
            }
            h4{
                font-size: 2rem;
                font-weight: 400;
                margin: 1rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 30px;
                }
            }
            h6{
                color: rgb(81, 81, 81);
                margin-top: 2rem;
            }
        }
    }
}

.howItworks
{
    width: 80%;
    margin: 7rem auto;    
    max-width: 1000px;
    &__top
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div p{
            margin-top: 1rem;
            font-size: 1.1rem;
        }
    }
    @media screen and(max-width:950px)
    {
        &__top
        {
            flex-direction: column;
            align-items: center;
            p,h2{
                text-align: center;
            }
            button{
                margin-top: 2rem;
            }
        }
    }

    &__content
    {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
        align-items: center;
        &__left
        {
            width: 55%;
            li{
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
                opacity: 0.4;
                transition: opacity .3s;
                cursor: pointer;
                &.active
                {
                    opacity: 1;
                }
                p{
                    width: 70%;
                    line-height: 1.7rem;
                }
            }
        }

        &__right
        {
            width: 40%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }

        @media screen and(max-width:950px) {
            flex-direction: column;
            &__right,&__left
            {
                width: 100%;
            }
            &__right
            {
                margin-top: 2rem;
            }
        }

    }
}

.lastSection
{
    width: 95%;
    max-width: 970px;
    padding: 8rem 5%;
    margin: auto;
    background: #FDD57E;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    &__left{
        width: 50%;
        h1{
            font-size: 2.4rem;
            font-weight: 800;
        }
        p{
            margin: 2rem 0;
            line-height: 1.5rem;
        }
        .button
        {
            margin-top: 1rem;
            background: #232320;
            font-weight: 500;
            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    &__right
    {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .card
        {
            width: 334px;
            height: 215px;
            border-radius: 30px;
            background: linear-gradient(180deg,#1ce1ff,#a9feff 10%,#a9feff 90%,#29daff);
            box-shadow: 0 30px 30px -15px rgb(101 82 43 / 50%), 0 2px 3px 0 rgb(0 0 0 / 15%);
            position: relative;
            &::after
            {
                content: "";
                background: #1ee1ff;
                border-radius: 30px;
                display: block;
                position: absolute;
                z-index:0;
                top: 1px;
                right: 1px;
                bottom: 1px;
                left: 1px;
            }
            &__content{
                position: absolute;
                z-index: 1;
                inset: 0;
                padding: 3rem 2rem;
                img{
                    width: 40px;
                }
                color: white;
                font-weight:700 ;
                white-space: 2rem;
                p{
                    display: flex;
                    margin-top: 1rem;
                    font-size: 1.2rem;
                }
                span{
                    display: block;
                    margin-right: .7rem;
                }
                div{
                    display: flex;
                    p{
                        margin-right: 1rem;
                    }
                }

                .card_num,.card_name
                {
                    height: 2rem;
                    min-height: 2rem;

                }
                .card_name
                {
                    margin-top: .5rem;
                }
            }
        }
    }

    @media screen and(max-width:940px) {
        flex-direction: column;
        align-items: center;
        &__left
        {
            width: 80%;
        }
        &__right
        {
            width: 100%;
            margin-top: 4rem;
        }
    }
    @media screen and(max-width:740px)
    {
        padding: 4rem 5%;
    }
}

.footer
{
    padding: 3rem 0;
    border-top: 1px solid lightgray;
    width: 98%;
    margin: 6rem auto 0 auto;
    &__content
    {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        &>ul{
            display: flex;
            gap: 5rem;
            li{
                h3{
                    font-weight: 400;
                    font-size: 1rem;
                    color: darkgray;
                }
                ul{
                    margin-top: 2rem;
                    li{
                        margin: 1rem 0;
                        font-size: 1rem;
                        font-weight: 500;
                        &:hover
                        {
                            color: darkgray;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .medias
        {
            li{
                //margin: 0;
                display: flex;
                align-items: center;
                p{
                    margin-left: .6rem;
                }
                img{
                    width: 20px;
                }
            }
        }
    }

    &>p{
        font-size: .9rem;
        width: 90%;
        max-width: 1000px;
        margin: 3rem auto 0 auto;
    }
}