.bubbles
    {
        height: 300px;
        min-width: 300px;
        width: 300px;
        max-width: 300px;
        position: relative;
        margin: auto;

        .bubble:first-of-type{
            top: 20%;
            left: 10%;
            transform: scale(1.2);
        }
        .bubble__content:nth-of-type(1)
        {
            top: 27%;
            left: 20%;
        }
        .bubble:nth-of-type(2){
            top: 10%;
            left: 55%;
            transform: scale(1.4);
        }
        .bubble__content:nth-of-type(2)
        {
            top: 16%;
            left: 52%;
        }
        .bubble:nth-of-type(3){
            top: 50%;
            left: 38%;
            transform: scale(1);
        }
        .bubble__content:nth-of-type(3)
        {
            top: 57%;
            left: 35%;
        }


        .bubble{
            width: 110px;
            height: 110px;
            background: white;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.263);
            border-radius: 50%;
            position: absolute;            
        }
        .bubble__content{
            margin: 0;
            position: absolute;
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                font-size: .7rem;
                margin-top: .7rem;
                color: rgb(78, 78, 78);
                text-align: center;
                max-width: 70px;
                min-width: 70px;
                width: 70px;
                height: 25px;
                min-height: 25px;
                max-height: 25px;
                padding: 0;
                &::before
                {
                    font-size: .8rem;
                    color: rgb(76, 76, 76);
                }
            }
        }


        #bubble1
        {
            
            animation: bubble1 17s infinite;
            @keyframes bubble1 {
                0%{
                    transform: scale(1) translate(0,0);
                }
                10%{
                    transform: scale(1.1) translate(-10px,-10px);
                }
                35%{
                    transform: scale(1.1) translate(-10px,-10px);
                }
                45%{
                    transform: scale(1.3) translate(-15px,-15px);
                }70%{
                    transform: scale(1.3) translate(-15px,-15px);
                }80%{
                    transform: scale(1) translate(0px,0px);
                }100%{
                    transform: scale(1) translate(0,0px);
                }
            }
        }
        .bubble__content:first-of-type
        {
            
            animation: bubble1_cnt 17s infinite;
            @keyframes bubble1_cnt {
                0%{
                    transform: translate(-10px,0px);                    
                }
                10%{
                    transform: translate(-20px,-10px);
                }
                35%{
                    transform: translate(-20px,-10px);
                }
                45%{
                    transform: translate(-27px,-18px);
                }70%{
                    transform: translate(-27px,-18px);
                }80%{
                    transform: translate(-10px,0px);                 
                }100%{
                    transform: translate(-10px,0px);                 
                }
            }
            p.start{            
                &::before
                {
                    content: "16.00/mo";
                    animation: animateB1P1 0.85s forwards;
                }   
                @keyframes animateB1P1 {
                    0.00%{
                        content:"16.00/mo";
                    }1.66%{
                        content:"16.10/mo";
                    }3.32%{
                        content:"16.20/mo";
                    }4.98%{
                        content:"16.30/mo";
                    }6.64%{
                        content:"16.40/mo";
                    }8.30%{
                        content:"16.50/mo";
                    }9.96%{
                        content:"16.60/mo";
                    }11.62%{
                        content:"16.70/mo";
                    }13.28%{
                        content:"16.80/mo";
                    }14.94%{
                        content:"16.90/mo";
                    }16.60%{
                        content:"17.00/mo";
                    }18.26%{
                        content:"17.10/mo";
                    }19.92%{
                        content:"17.20/mo";
                    }21.58%{
                        content:"17.30/mo";
                    }23.24%{
                        content:"17.40/mo";
                    }24.90%{
                        content:"17.50/mo";
                    }26.56%{
                        content:"17.60/mo";
                    }28.22%{
                        content:"17.70/mo";
                    }29.88%{
                        content:"17.80/mo";
                    }31.54%{
                        content:"17.90/mo";
                    }33.20%{
                        content:"18.00/mo";
                    }34.86%{
                        content:"18.10/mo";
                    }36.52%{
                        content:"18.20/mo";
                    }38.18%{
                        content:"18.30/mo";
                    }39.84%{
                        content:"18.40/mo";
                    }41.50%{
                        content:"18.50/mo";
                    }43.16%{
                        content:"18.60/mo";
                    }44.82%{
                        content:"18.70/mo";
                    }46.48%{
                        content:"18.80/mo";
                    }48.14%{
                        content:"18.90/mo";
                    }49.80%{
                        content:"19.00/mo";
                    }51.46%{
                        content:"19.10/mo";
                    }53.12%{
                        content:"19.20/mo";
                    }54.78%{
                        content:"19.30/mo";
                    }56.44%{
                        content:"19.40/mo";
                    }58.10%{
                        content:"19.50/mo";
                    }59.76%{
                        content:"19.60/mo";
                    }61.42%{
                        content:"19.70/mo";
                    }63.08%{
                        content:"19.80/mo";
                    }64.74%{
                        content:"19.90/mo";
                    }66.40%{
                        content:"20.00/mo";
                    }68.06%{
                        content:"20.10/mo";
                    }69.72%{
                        content:"20.20/mo";
                    }71.38%{
                        content:"20.30/mo";
                    }73.04%{
                        content:"20.40/mo";
                    }74.70%{
                        content:"20.50/mo";
                    }76.36%{
                        content:"20.60/mo";
                    }78.02%{
                        content:"20.70/mo";
                    }79.68%{
                        content:"20.80/mo";
                    }81.34%{
                        content:"20.90/mo";
                    }83.00%{
                        content:"21.00/mo";
                    }84.66%{
                        content:"21.10/mo";
                    }86.32%{
                        content:"21.20/mo";
                    }87.98%{
                        content:"21.30/mo";
                    }89.64%{
                        content:"21.40/mo";
                    }91.30%{
                        content:"21.50/mo";
                    }92.96%{
                        content:"21.60/mo";
                    }94.62%{
                        content:"21.70/mo";
                    }96.28%{
                        content:"21.80/mo";
                    }100%{
                        content:"22.00/mo";
                    }
                }
            }
            p.middle{

                &::before
                {
                    content: "22.00/mo";
                    animation: animateB1P2 0.85s forwards ;
                }
                
                @keyframes animateB1P2 {
                    0.00%{
                        content:"22.00/mo";
                    }2.50%{
                        content:"22.10/mo";
                    }5.00%{
                        content:"22.20/mo";
                    }7.50%{
                        content:"22.30/mo";
                    }10.00%{
                        content:"22.40/mo";
                    }12.50%{
                        content:"22.50/mo";
                    }15.00%{
                        content:"22.60/mo";
                    }17.50%{
                        content:"22.70/mo";
                    }20.00%{
                        content:"22.80/mo";
                    }22.50%{
                        content:"22.90/mo";
                    }25.00%{
                        content:"23.00/mo";
                    }27.50%{
                        content:"23.10/mo";
                    }30.00%{
                        content:"23.20/mo";
                    }32.50%{
                        content:"23.30/mo";
                    }35.00%{
                        content:"23.40/mo";
                    }37.50%{
                        content:"23.50/mo";
                    }40.00%{
                        content:"23.60/mo";
                    }42.50%{
                        content:"23.70/mo";
                    }45.00%{
                        content:"23.80/mo";
                    }47.50%{
                        content:"23.90/mo";
                    }50.00%{
                        content:"24.00/mo";
                    }52.50%{
                        content:"24.10/mo";
                    }55.00%{
                        content:"24.20/mo";
                    }57.50%{
                        content:"24.30/mo";
                    }60.00%{
                        content:"24.40/mo";
                    }62.50%{
                        content:"24.50/mo";
                    }65.00%{
                        content:"24.60/mo";
                    }67.50%{
                        content:"24.70/mo";
                    }70.00%{
                        content:"24.80/mo";
                    }72.50%{
                        content:"24.90/mo";
                    }75.00%{
                        content:"25.00/mo";
                    }77.50%{
                        content:"25.10/mo";
                    }80.00%{
                        content:"25.20/mo";
                    }82.50%{
                        content:"25.30/mo";
                    }85.00%{
                        content:"25.40/mo";
                    }87.50%{
                        content:"25.50/mo";
                    }90.00%{
                        content:"25.60/mo";
                    }92.50%{
                        content:"25.70/mo";
                    }95.00%{
                        content:"25.80/mo";
                    }100%{
                        content:"26.00/mo";
                    }
                }
            }
            p.end{
                &::before
                {
                    content: "26.00/mo";
                    animation: animateB1P3 0.85s forwards ;        
                }
                
                @keyframes animateB1P3 {
                    0.00%{
                        content:"26.00/mo";
                    }1.00%{
                        content:"25.90/mo";
                    }2.00%{
                        content:"25.80/mo";
                    }3.00%{
                        content:"25.70/mo";
                    }4.00%{
                        content:"25.60/mo";
                    }5.00%{
                        content:"25.50/mo";
                    }6.00%{
                        content:"25.40/mo";
                    }7.00%{
                        content:"25.30/mo";
                    }8.00%{
                        content:"25.20/mo";
                    }9.00%{
                        content:"25.10/mo";
                    }10.00%{
                        content:"25.00/mo";
                    }11.00%{
                        content:"24.90/mo";
                    }12.00%{
                        content:"24.80/mo";
                    }13.00%{
                        content:"24.70/mo";
                    }14.00%{
                        content:"24.60/mo";
                    }15.00%{
                        content:"24.50/mo";
                    }16.00%{
                        content:"24.40/mo";
                    }17.00%{
                        content:"24.30/mo";
                    }18.00%{
                        content:"24.20/mo";
                    }19.00%{
                        content:"24.10/mo";
                    }20.00%{
                        content:"24.00/mo";
                    }21.00%{
                        content:"23.90/mo";
                    }22.00%{
                        content:"23.80/mo";
                    }23.00%{
                        content:"23.70/mo";
                    }24.00%{
                        content:"23.60/mo";
                    }25.00%{
                        content:"23.50/mo";
                    }26.00%{
                        content:"23.40/mo";
                    }27.00%{
                        content:"23.30/mo";
                    }28.00%{
                        content:"23.20/mo";
                    }29.00%{
                        content:"23.10/mo";
                    }30.00%{
                        content:"23.00/mo";
                    }31.00%{
                        content:"22.90/mo";
                    }32.00%{
                        content:"22.80/mo";
                    }33.00%{
                        content:"22.70/mo";
                    }34.00%{
                        content:"22.60/mo";
                    }35.00%{
                        content:"22.50/mo";
                    }36.00%{
                        content:"22.40/mo";
                    }37.00%{
                        content:"22.30/mo";
                    }38.00%{
                        content:"22.20/mo";
                    }39.00%{
                        content:"22.10/mo";
                    }40.00%{
                        content:"22.00/mo";
                    }41.00%{
                        content:"21.90/mo";
                    }42.00%{
                        content:"21.80/mo";
                    }43.00%{
                        content:"21.70/mo";
                    }44.00%{
                        content:"21.60/mo";
                    }45.00%{
                        content:"21.50/mo";
                    }46.00%{
                        content:"21.40/mo";
                    }47.00%{
                        content:"21.30/mo";
                    }48.00%{
                        content:"21.20/mo";
                    }49.00%{
                        content:"21.10/mo";
                    }50.00%{
                        content:"21.00/mo";
                    }51.00%{
                        content:"20.90/mo";
                    }52.00%{
                        content:"20.80/mo";
                    }53.00%{
                        content:"20.70/mo";
                    }54.00%{
                        content:"20.60/mo";
                    }55.00%{
                        content:"20.50/mo";
                    }56.00%{
                        content:"20.40/mo";
                    }57.00%{
                        content:"20.30/mo";
                    }58.00%{
                        content:"20.20/mo";
                    }59.00%{
                        content:"20.10/mo";
                    }60.00%{
                        content:"20.00/mo";
                    }61.00%{
                        content:"19.90/mo";
                    }62.00%{
                        content:"19.80/mo";
                    }63.00%{
                        content:"19.70/mo";
                    }64.00%{
                        content:"19.60/mo";
                    }65.00%{
                        content:"19.50/mo";
                    }66.00%{
                        content:"19.40/mo";
                    }67.00%{
                        content:"19.30/mo";
                    }68.00%{
                        content:"19.20/mo";
                    }69.00%{
                        content:"19.10/mo";
                    }70.00%{
                        content:"19.00/mo";
                    }71.00%{
                        content:"18.90/mo";
                    }72.00%{
                        content:"18.80/mo";
                    }73.00%{
                        content:"18.70/mo";
                    }74.00%{
                        content:"18.60/mo";
                    }75.00%{
                        content:"18.50/mo";
                    }76.00%{
                        content:"18.40/mo";
                    }77.00%{
                        content:"18.30/mo";
                    }78.00%{
                        content:"18.20/mo";
                    }79.00%{
                        content:"18.10/mo";
                    }80.00%{
                        content:"18.00/mo";
                    }81.00%{
                        content:"17.90/mo";
                    }82.00%{
                        content:"17.80/mo";
                    }83.00%{
                        content:"17.70/mo";
                    }84.00%{
                        content:"17.60/mo";
                    }85.00%{
                        content:"17.50/mo";
                    }86.00%{
                        content:"17.40/mo";
                    }87.00%{
                        content:"17.30/mo";
                    }88.00%{
                        content:"17.20/mo";
                    }89.00%{
                        content:"17.10/mo";
                    }90.00%{
                        content:"17.00/mo";
                    }91.00%{
                        content:"16.90/mo";
                    }92.00%{
                        content:"16.80/mo";
                    }93.00%{
                        content:"16.70/mo";
                    }94.00%{
                        content:"16.60/mo";
                    }95.00%{
                        content:"16.50/mo";
                    }96.00%{
                        content:"16.40/mo";
                    }97.00%{
                        content:"16.30/mo";
                    }98.00%{
                        content:"16.20/mo";
                    }100.00%{
                        content:"16.00/mo";
                    }
                }
            }
        }

        #bubble2
        {
            animation: bubble2 17s infinite;
            @keyframes bubble2 {
                0%{
                    transform: scale(1.4) translate(12px,13px);
                }
                10%{
                    transform: scale(1) translate(3px,3px);
                }
                35%{
                    transform: scale(1) translate(3px,3px);
                }
                45%{
                    transform: scale(1.2) translate(0px,15px);
                }70%{
                    transform: scale(1.2) translate(0px,15px);
                }80%{
                    transform: scale(1.4) translate(12px,13px);
                }100%{
                    transform: scale(1.4) translate(12px,13px);
                }
            }
        }
        .bubble__content:nth-of-type(2)
        {
            animation: bubble2_cnt 17s infinite;
            @keyframes bubble2_cnt {
                0%{
                    transform:translate(45px,20px);
                }
                10%{
                    transform:translate(33px,6px);
                }
                35%{
                    transform:translate(33px,6px);
                }
                45%{
                    transform:translate(28px,20px);
                }70%{
                    transform:translate(28px,20px);
                }80%{
                    transform:translate(45px,20px);
                }100%{
                    transform:translate(45px,20px);
                }
            }

            p.start{            
                &::before
                {
                    content: "30.00/mo";
                    animation: animateB2P1 0.85s forwards;
                }   
                @keyframes animateB2P1 {
                    0.00%{
                        content:"30.00/mo";
                    }1.40%{
                        content:"29.80/mo";
                    }2.80%{
                        content:"29.60/mo";
                    }4.20%{
                        content:"29.40/mo";
                    }5.60%{
                        content:"29.20/mo";
                    }7.00%{
                        content:"29.00/mo";
                    }8.40%{
                        content:"28.80/mo";
                    }9.80%{
                        content:"28.60/mo";
                    }11.20%{
                        content:"28.40/mo";
                    }12.60%{
                        content:"28.20/mo";
                    }14.00%{
                        content:"28.00/mo";
                    }15.40%{
                        content:"27.80/mo";
                    }16.80%{
                        content:"27.60/mo";
                    }18.20%{
                        content:"27.40/mo";
                    }19.60%{
                        content:"27.20/mo";
                    }21.00%{
                        content:"27.00/mo";
                    }22.40%{
                        content:"26.80/mo";
                    }23.80%{
                        content:"26.60/mo";
                    }25.20%{
                        content:"26.40/mo";
                    }26.60%{
                        content:"26.20/mo";
                    }28.00%{
                        content:"26.00/mo";
                    }29.40%{
                        content:"25.80/mo";
                    }30.80%{
                        content:"25.60/mo";
                    }32.20%{
                        content:"25.40/mo";
                    }33.60%{
                        content:"25.20/mo";
                    }35.00%{
                        content:"25.00/mo";
                    }36.40%{
                        content:"24.80/mo";
                    }37.80%{
                        content:"24.60/mo";
                    }39.20%{
                        content:"24.40/mo";
                    }40.60%{
                        content:"24.20/mo";
                    }42.00%{
                        content:"24.00/mo";
                    }43.40%{
                        content:"23.80/mo";
                    }44.80%{
                        content:"23.60/mo";
                    }46.20%{
                        content:"23.40/mo";
                    }47.60%{
                        content:"23.20/mo";
                    }49.00%{
                        content:"23.00/mo";
                    }50.40%{
                        content:"22.80/mo";
                    }51.80%{
                        content:"22.60/mo";
                    }53.20%{
                        content:"22.40/mo";
                    }54.60%{
                        content:"22.20/mo";
                    }56.00%{
                        content:"22.00/mo";
                    }57.40%{
                        content:"21.80/mo";
                    }58.80%{
                        content:"21.60/mo";
                    }60.20%{
                        content:"21.40/mo";
                    }61.60%{
                        content:"21.20/mo";
                    }63.00%{
                        content:"21.00/mo";
                    }64.40%{
                        content:"20.80/mo";
                    }65.80%{
                        content:"20.60/mo";
                    }67.20%{
                        content:"20.40/mo";
                    }68.60%{
                        content:"20.20/mo";
                    }70.00%{
                        content:"20.00/mo";
                    }71.40%{
                        content:"19.80/mo";
                    }72.80%{
                        content:"19.60/mo";
                    }74.20%{
                        content:"19.40/mo";
                    }75.60%{
                        content:"19.20/mo";
                    }77.00%{
                        content:"19.00/mo";
                    }78.40%{
                        content:"18.80/mo";
                    }79.80%{
                        content:"18.60/mo";
                    }81.20%{
                        content:"18.40/mo";
                    }82.60%{
                        content:"18.20/mo";
                    }84.00%{
                        content:"18.00/mo";
                    }85.40%{
                        content:"17.80/mo";
                    }86.80%{
                        content:"17.60/mo";
                    }88.20%{
                        content:"17.40/mo";
                    }89.60%{
                        content:"17.20/mo";
                    }91.00%{
                        content:"17.00/mo";
                    }92.40%{
                        content:"16.80/mo";
                    }93.80%{
                        content:"16.60/mo";
                    }95.20%{
                        content:"16.40/mo";
                    }96.60%{
                        content:"16.20/mo";
                    }98.00%{
                        content:"16.00/mo";
                    }100%{
                        content:"16.00/mo";
                    }
                }
            }
            p.middle{
                &::before
                {
                    content: "16.00/mo";
                    animation: animateB2P2 0.85s forwards;
                }            
                @keyframes animateB2P2 {
                    0.00%{
                        content:"16.00/mo";
                    }2.50%{
                        content:"16.10/mo";
                    }5.00%{
                        content:"16.20/mo";
                    }7.50%{
                        content:"16.30/mo";
                    }10.00%{
                        content:"16.40/mo";
                    }12.50%{
                        content:"16.50/mo";
                    }15.00%{
                        content:"16.60/mo";
                    }17.50%{
                        content:"16.70/mo";
                    }20.00%{
                        content:"16.80/mo";
                    }22.50%{
                        content:"16.90/mo";
                    }25.00%{
                        content:"17.00/mo";
                    }27.50%{
                        content:"17.10/mo";
                    }30.00%{
                        content:"17.20/mo";
                    }32.50%{
                        content:"17.30/mo";
                    }35.00%{
                        content:"17.40/mo";
                    }37.50%{
                        content:"17.50/mo";
                    }40.00%{
                        content:"17.60/mo";
                    }42.50%{
                        content:"17.70/mo";
                    }45.00%{
                        content:"17.80/mo";
                    }47.50%{
                        content:"17.90/mo";
                    }50.00%{
                        content:"18.00/mo";
                    }52.50%{
                        content:"18.10/mo";
                    }55.00%{
                        content:"18.20/mo";
                    }57.50%{
                        content:"18.30/mo";
                    }60.00%{
                        content:"18.40/mo";
                    }62.50%{
                        content:"18.50/mo";
                    }65.00%{
                        content:"18.60/mo";
                    }67.50%{
                        content:"18.70/mo";
                    }70.00%{
                        content:"18.80/mo";
                    }72.50%{
                        content:"18.90/mo";
                    }75.00%{
                        content:"19.00/mo";
                    }77.50%{
                        content:"19.10/mo";
                    }80.00%{
                        content:"19.20/mo";
                    }82.50%{
                        content:"19.30/mo";
                    }85.00%{
                        content:"19.40/mo";
                    }87.50%{
                        content:"19.50/mo";
                    }90.00%{
                        content:"19.60/mo";
                    }92.50%{
                        content:"19.70/mo";
                    }95.00%{
                        content:"19.80/mo";
                    }100%{
                        content:"20.00/mo";
                    }
                }                
            }
            p.end{
                &::before
                {
                    content: "20.00/mo";
                    animation: animateB2P3 0.85s forwards;
                }              
                @keyframes animateB2P3 {
                    0.00%{
                        content:"20.00/mo";
                    }1.00%{
                        content:"20.10/mo";
                    }2.00%{
                        content:"20.20/mo";
                    }3.00%{
                        content:"20.30/mo";
                    }4.00%{
                        content:"20.40/mo";
                    }5.00%{
                        content:"20.50/mo";
                    }6.00%{
                        content:"20.60/mo";
                    }7.00%{
                        content:"20.70/mo";
                    }8.00%{
                        content:"20.80/mo";
                    }9.00%{
                        content:"20.90/mo";
                    }10.00%{
                        content:"21.00/mo";
                    }11.00%{
                        content:"21.10/mo";
                    }12.00%{
                        content:"21.20/mo";
                    }13.00%{
                        content:"21.30/mo";
                    }14.00%{
                        content:"21.40/mo";
                    }15.00%{
                        content:"21.50/mo";
                    }16.00%{
                        content:"21.60/mo";
                    }17.00%{
                        content:"21.70/mo";
                    }18.00%{
                        content:"21.80/mo";
                    }19.00%{
                        content:"21.90/mo";
                    }20.00%{
                        content:"22.00/mo";
                    }21.00%{
                        content:"22.10/mo";
                    }22.00%{
                        content:"22.20/mo";
                    }23.00%{
                        content:"22.30/mo";
                    }24.00%{
                        content:"22.40/mo";
                    }25.00%{
                        content:"22.50/mo";
                    }26.00%{
                        content:"22.60/mo";
                    }27.00%{
                        content:"22.70/mo";
                    }28.00%{
                        content:"22.80/mo";
                    }29.00%{
                        content:"22.90/mo";
                    }30.00%{
                        content:"23.00/mo";
                    }31.00%{
                        content:"23.10/mo";
                    }32.00%{
                        content:"23.20/mo";
                    }33.00%{
                        content:"23.30/mo";
                    }34.00%{
                        content:"23.40/mo";
                    }35.00%{
                        content:"23.50/mo";
                    }36.00%{
                        content:"23.60/mo";
                    }37.00%{
                        content:"23.70/mo";
                    }38.00%{
                        content:"23.80/mo";
                    }39.00%{
                        content:"23.90/mo";
                    }40.00%{
                        content:"24.00/mo";
                    }41.00%{
                        content:"24.10/mo";
                    }42.00%{
                        content:"24.20/mo";
                    }43.00%{
                        content:"24.30/mo";
                    }44.00%{
                        content:"24.40/mo";
                    }45.00%{
                        content:"24.50/mo";
                    }46.00%{
                        content:"24.60/mo";
                    }47.00%{
                        content:"24.70/mo";
                    }48.00%{
                        content:"24.80/mo";
                    }49.00%{
                        content:"24.90/mo";
                    }50.00%{
                        content:"25.00/mo";
                    }51.00%{
                        content:"25.10/mo";
                    }52.00%{
                        content:"25.20/mo";
                    }53.00%{
                        content:"25.30/mo";
                    }54.00%{
                        content:"25.40/mo";
                    }55.00%{
                        content:"25.50/mo";
                    }56.00%{
                        content:"25.60/mo";
                    }57.00%{
                        content:"25.70/mo";
                    }58.00%{
                        content:"25.80/mo";
                    }59.00%{
                        content:"25.90/mo";
                    }60.00%{
                        content:"26.00/mo";
                    }61.00%{
                        content:"26.10/mo";
                    }62.00%{
                        content:"26.20/mo";
                    }63.00%{
                        content:"26.30/mo";
                    }64.00%{
                        content:"26.40/mo";
                    }65.00%{
                        content:"26.50/mo";
                    }66.00%{
                        content:"26.60/mo";
                    }67.00%{
                        content:"26.70/mo";
                    }68.00%{
                        content:"26.80/mo";
                    }69.00%{
                        content:"26.90/mo";
                    }70.00%{
                        content:"27.00/mo";
                    }71.00%{
                        content:"27.10/mo";
                    }72.00%{
                        content:"27.20/mo";
                    }73.00%{
                        content:"27.30/mo";
                    }74.00%{
                        content:"27.40/mo";
                    }75.00%{
                        content:"27.50/mo";
                    }76.00%{
                        content:"27.60/mo";
                    }77.00%{
                        content:"27.70/mo";
                    }78.00%{
                        content:"27.80/mo";
                    }79.00%{
                        content:"27.90/mo";
                    }80.00%{
                        content:"28.00/mo";
                    }81.00%{
                        content:"28.10/mo";
                    }82.00%{
                        content:"28.20/mo";
                    }83.00%{
                        content:"28.30/mo";
                    }84.00%{
                        content:"28.40/mo";
                    }85.00%{
                        content:"28.50/mo";
                    }86.00%{
                        content:"28.60/mo";
                    }87.00%{
                        content:"28.70/mo";
                    }88.00%{
                        content:"28.80/mo";
                    }89.00%{
                        content:"28.90/mo";
                    }90.00%{
                        content:"29.00/mo";
                    }91.00%{
                        content:"29.10/mo";
                    }92.00%{
                        content:"29.20/mo";
                    }93.00%{
                        content:"29.30/mo";
                    }94.00%{
                        content:"29.40/mo";
                    }95.00%{
                        content:"29.50/mo";
                    }96.00%{
                        content:"29.60/mo";
                    }97.00%{
                        content:"29.70/mo";
                    }98.00%{
                        content:"29.80/mo";
                    }99.00%{
                        content:"29.90/mo";
                    }100%{
                        content:"30.00/mo";
                    }
                }                  
            }
        }

        #bubble3
        {
            animation: bubble3 17s infinite;
            @keyframes bubble3 {
                0%{
                    transform: scale(1.2) translate(-10px,35px);
                }
                10%{
                    transform: scale(1.4) translate(2px,20px);
                }
                35%{
                    transform: scale(1.4) translate(2px,20px);
                }
                45%{
                    transform: scale(1) translate(-30px,20px);
                }70%{
                    transform: scale(1) translate(-30px,20px);
                }80%{
                    transform: scale(1.2) translate(-10px,35px);
                }100%{
                    transform: scale(1.2) translate(-10px,35px);
                }
            }   
        }

        .bubble__content:nth-of-type(3)
        {
            animation: bubble3_cnt 17s infinite;
            @keyframes bubble3_cnt {
                0%{
                    transform:translate(17px,40px);
                }
                10%{
                    transform:translate(34px,30px);
                }
                35%{
                    transform:translate(34px,30px);
                }
                45%{
                    transform:translate(0px,20px);
                }70%{
                    transform:translate(0px,20px);
                }80%{
                    transform:translate(17px,40px);
                }100%{
                    transform:translate(17px,40px);
                }
            }

            p.start{            
                &::before
                {
                    content: "20.00/mo";
                    animation: animateB3P1 0.85s forwards;
                }   

                @keyframes animateB3P1 {
                    0.00%{
                        content:"20.00/mo";
                    }1.00%{
                        content:"20.10/mo";
                    }2.00%{
                        content:"20.20/mo";
                    }3.00%{
                        content:"20.30/mo";
                    }4.00%{
                        content:"20.40/mo";
                    }5.00%{
                        content:"20.50/mo";
                    }6.00%{
                        content:"20.60/mo";
                    }7.00%{
                        content:"20.70/mo";
                    }8.00%{
                        content:"20.80/mo";
                    }9.00%{
                        content:"20.90/mo";
                    }10.00%{
                        content:"21.00/mo";
                    }11.00%{
                        content:"21.10/mo";
                    }12.00%{
                        content:"21.20/mo";
                    }13.00%{
                        content:"21.30/mo";
                    }14.00%{
                        content:"21.40/mo";
                    }15.00%{
                        content:"21.50/mo";
                    }16.00%{
                        content:"21.60/mo";
                    }17.00%{
                        content:"21.70/mo";
                    }18.00%{
                        content:"21.80/mo";
                    }19.00%{
                        content:"21.90/mo";
                    }20.00%{
                        content:"22.00/mo";
                    }21.00%{
                        content:"22.10/mo";
                    }22.00%{
                        content:"22.20/mo";
                    }23.00%{
                        content:"22.30/mo";
                    }24.00%{
                        content:"22.40/mo";
                    }25.00%{
                        content:"22.50/mo";
                    }26.00%{
                        content:"22.60/mo";
                    }27.00%{
                        content:"22.70/mo";
                    }28.00%{
                        content:"22.80/mo";
                    }29.00%{
                        content:"22.90/mo";
                    }30.00%{
                        content:"23.00/mo";
                    }31.00%{
                        content:"23.10/mo";
                    }32.00%{
                        content:"23.20/mo";
                    }33.00%{
                        content:"23.30/mo";
                    }34.00%{
                        content:"23.40/mo";
                    }35.00%{
                        content:"23.50/mo";
                    }36.00%{
                        content:"23.60/mo";
                    }37.00%{
                        content:"23.70/mo";
                    }38.00%{
                        content:"23.80/mo";
                    }39.00%{
                        content:"23.90/mo";
                    }40.00%{
                        content:"24.00/mo";
                    }41.00%{
                        content:"24.10/mo";
                    }42.00%{
                        content:"24.20/mo";
                    }43.00%{
                        content:"24.30/mo";
                    }44.00%{
                        content:"24.40/mo";
                    }45.00%{
                        content:"24.50/mo";
                    }46.00%{
                        content:"24.60/mo";
                    }47.00%{
                        content:"24.70/mo";
                    }48.00%{
                        content:"24.80/mo";
                    }49.00%{
                        content:"24.90/mo";
                    }50.00%{
                        content:"25.00/mo";
                    }51.00%{
                        content:"25.10/mo";
                    }52.00%{
                        content:"25.20/mo";
                    }53.00%{
                        content:"25.30/mo";
                    }54.00%{
                        content:"25.40/mo";
                    }55.00%{
                        content:"25.50/mo";
                    }56.00%{
                        content:"25.60/mo";
                    }57.00%{
                        content:"25.70/mo";
                    }58.00%{
                        content:"25.80/mo";
                    }59.00%{
                        content:"25.90/mo";
                    }60.00%{
                        content:"26.00/mo";
                    }61.00%{
                        content:"26.10/mo";
                    }62.00%{
                        content:"26.20/mo";
                    }63.00%{
                        content:"26.30/mo";
                    }64.00%{
                        content:"26.40/mo";
                    }65.00%{
                        content:"26.50/mo";
                    }66.00%{
                        content:"26.60/mo";
                    }67.00%{
                        content:"26.70/mo";
                    }68.00%{
                        content:"26.80/mo";
                    }69.00%{
                        content:"26.90/mo";
                    }70.00%{
                        content:"27.00/mo";
                    }71.00%{
                        content:"27.10/mo";
                    }72.00%{
                        content:"27.20/mo";
                    }73.00%{
                        content:"27.30/mo";
                    }74.00%{
                        content:"27.40/mo";
                    }75.00%{
                        content:"27.50/mo";
                    }76.00%{
                        content:"27.60/mo";
                    }77.00%{
                        content:"27.70/mo";
                    }78.00%{
                        content:"27.80/mo";
                    }79.00%{
                        content:"27.90/mo";
                    }80.00%{
                        content:"28.00/mo";
                    }81.00%{
                        content:"28.10/mo";
                    }82.00%{
                        content:"28.20/mo";
                    }83.00%{
                        content:"28.30/mo";
                    }84.00%{
                        content:"28.40/mo";
                    }85.00%{
                        content:"28.50/mo";
                    }86.00%{
                        content:"28.60/mo";
                    }87.00%{
                        content:"28.70/mo";
                    }88.00%{
                        content:"28.80/mo";
                    }89.00%{
                        content:"28.90/mo";
                    }90.00%{
                        content:"29.00/mo";
                    }91.00%{
                        content:"29.10/mo";
                    }92.00%{
                        content:"29.20/mo";
                    }93.00%{
                        content:"29.30/mo";
                    }94.00%{
                        content:"29.40/mo";
                    }95.00%{
                        content:"29.50/mo";
                    }96.00%{
                        content:"29.60/mo";
                    }97.00%{
                        content:"29.70/mo";
                    }98.00%{
                        content:"29.80/mo";
                    }99.00%{
                        content:"29.90/mo";
                    }100.00%{
                        content:"30.00/mo";
                    }
                }
                
            }
            p.middle{
                &::before
                {
                    content: "30.00/mo";
                    animation: animateB3P2 .85s forwards;
                }
                @keyframes animateB3P2 {
                    0.00%{
                        content:"30.00/mo";
                    }1.20%{
                        content:"29.85/mo";
                    }2.40%{
                        content:"29.70/mo";
                    }3.60%{
                        content:"29.55/mo";
                    }4.80%{
                        content:"29.40/mo";
                    }6.00%{
                        content:"29.25/mo";
                    }7.20%{
                        content:"29.10/mo";
                    }8.40%{
                        content:"28.95/mo";
                    }9.60%{
                        content:"28.80/mo";
                    }10.80%{
                        content:"28.65/mo";
                    }12.00%{
                        content:"28.50/mo";
                    }13.20%{
                        content:"28.35/mo";
                    }14.40%{
                        content:"28.20/mo";
                    }15.60%{
                        content:"28.05/mo";
                    }16.80%{
                        content:"27.90/mo";
                    }18.00%{
                        content:"27.75/mo";
                    }19.20%{
                        content:"27.60/mo";
                    }20.40%{
                        content:"27.45/mo";
                    }21.60%{
                        content:"27.30/mo";
                    }22.80%{
                        content:"27.15/mo";
                    }24.00%{
                        content:"27.00/mo";
                    }25.20%{
                        content:"26.85/mo";
                    }26.40%{
                        content:"26.70/mo";
                    }27.60%{
                        content:"26.55/mo";
                    }28.80%{
                        content:"26.40/mo";
                    }30.00%{
                        content:"26.25/mo";
                    }31.20%{
                        content:"26.10/mo";
                    }32.40%{
                        content:"25.95/mo";
                    }33.60%{
                        content:"25.80/mo";
                    }34.80%{
                        content:"25.65/mo";
                    }36.00%{
                        content:"25.50/mo";
                    }37.20%{
                        content:"25.35/mo";
                    }38.40%{
                        content:"25.20/mo";
                    }39.60%{
                        content:"25.05/mo";
                    }40.80%{
                        content:"24.90/mo";
                    }42.00%{
                        content:"24.75/mo";
                    }43.20%{
                        content:"24.60/mo";
                    }44.40%{
                        content:"24.45/mo";
                    }45.60%{
                        content:"24.30/mo";
                    }46.80%{
                        content:"24.15/mo";
                    }48.00%{
                        content:"24.00/mo";
                    }49.20%{
                        content:"23.85/mo";
                    }50.40%{
                        content:"23.70/mo";
                    }51.60%{
                        content:"23.55/mo";
                    }52.80%{
                        content:"23.40/mo";
                    }54.00%{
                        content:"23.25/mo";
                    }55.20%{
                        content:"23.10/mo";
                    }56.40%{
                        content:"22.95/mo";
                    }57.60%{
                        content:"22.80/mo";
                    }58.80%{
                        content:"22.65/mo";
                    }60.00%{
                        content:"22.50/mo";
                    }61.20%{
                        content:"22.35/mo";
                    }62.40%{
                        content:"22.20/mo";
                    }63.60%{
                        content:"22.05/mo";
                    }64.80%{
                        content:"21.90/mo";
                    }66.00%{
                        content:"21.75/mo";
                    }67.20%{
                        content:"21.60/mo";
                    }68.40%{
                        content:"21.45/mo";
                    }69.60%{
                        content:"21.30/mo";
                    }70.80%{
                        content:"21.15/mo";
                    }72.00%{
                        content:"21.00/mo";
                    }73.20%{
                        content:"20.85/mo";
                    }74.40%{
                        content:"20.70/mo";
                    }75.60%{
                        content:"20.55/mo";
                    }76.80%{
                        content:"20.40/mo";
                    }78.00%{
                        content:"20.25/mo";
                    }79.20%{
                        content:"20.10/mo";
                    }80.40%{
                        content:"19.95/mo";
                    }81.60%{
                        content:"19.80/mo";
                    }82.80%{
                        content:"19.65/mo";
                    }84.00%{
                        content:"19.50/mo";
                    }85.20%{
                        content:"19.35/mo";
                    }86.40%{
                        content:"19.20/mo";
                    }87.60%{
                        content:"19.05/mo";
                    }88.80%{
                        content:"18.90/mo";
                    }90.00%{
                        content:"18.75/mo";
                    }91.20%{
                        content:"18.60/mo";
                    }92.40%{
                        content:"18.45/mo";
                    }93.60%{
                        content:"18.30/mo";
                    }94.80%{
                        content:"18.15/mo";
                    }96.00%{
                        content:"18.00/mo";
                    }97.20%{
                        content:"17.85/mo";
                    }98.40%{
                        content:"17.70/mo";
                    }100%{
                        content:"18.00/mo";
                    }
                }            
            }
            p.end{
                &::before
                {
                    content: "18.00/mo";
                    animation: animateB3P3 .85s forwards;
                }                       
                @keyframes animateB3P3 {
                    0.00%{
                        content:"18.00/mo";
                    }4.20%{
                        content:"18.10/mo";
                    }8.40%{
                        content:"18.20/mo";
                    }12.60%{
                        content:"18.30/mo";
                    }16.80%{
                        content:"18.40/mo";
                    }21.00%{
                        content:"18.50/mo";
                    }25.20%{
                        content:"18.60/mo";
                    }29.40%{
                        content:"18.70/mo";
                    }33.60%{
                        content:"18.80/mo";
                    }37.80%{
                        content:"18.90/mo";
                    }42.00%{
                        content:"19.00/mo";
                    }46.20%{
                        content:"19.10/mo";
                    }50.40%{
                        content:"19.20/mo";
                    }54.60%{
                        content:"19.30/mo";
                    }58.80%{
                        content:"19.40/mo";
                    }63.00%{
                        content:"19.50/mo";
                    }67.20%{
                        content:"19.60/mo";
                    }71.40%{
                        content:"19.70/mo";
                    }75.60%{
                        content:"19.80/mo";
                    }79.80%{
                        content:"19.90/mo";
                    }100.00%{
                        content:"20.00/mo";
                    }
                }       
            }
        }
    }