$light-gray1-left : #F7F6F3;
$light-gray-right : #f8f8f8;

$gray-btns-dark:#898989;
$gray-btns-light:#D0D0CF;

$dark-gray-main:#191919;
$dark-gray-left:#202020;
$dark-gray-right:#272727;

$green:#2cad1e;
$red:#c52c2c;